/*
=== Template Nextflow config ===
Include in all nextflow pipelines
*/

// inherit generic conig
config_url = "https://raw.githubusercontent.com/tmorr-12/Nextflow-Helper/blob/main/nextflow.config"
includeConfig "${config_url}"

// inherit qc options
includeConfig "${projectDir}/qc.config"

// update manifest with pipeline info
manifest {
    name = 'pipeline-name'
    author = 'Tom Morrison'
    description = 'A short description'
    version = '0.1.0'
    nextflowVersion = '>=23.04.0'
}
